body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #f7f7f7;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0;
}

h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

p {
	font-size: 24px;
	margin-bottom: 30px;
}

#generate-btn {
	background-color: #1abc9c;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 20px;
}

#tweet-btn {
	background-color: #55acee;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 4px;
	text-decoration: none;
	display: none;
}
